/********Pocetak stilova vezanih za navigacija.php*********/
body {

    font-family: "Open Sans", sans-serif;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

    position: absolute;
    top: 0vh;
    left: 0vw;
    right: 0vw;

    border-bottom: 4px solid #f8f8f8;
    padding: 10px 0% 1px 0%;
    background-color: #ffffff;

    height: 15vh;
}

.nav img {
    width: 70px;
    margin-right: 2vw;

}

.nav_opcija_1 {
    font-size: 4vw;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    left: 0vw;
    padding-right: 10px;
}

.nav_opcija_2 {
    font-size: 4vw;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 0vw;
    padding-left: 10px;
}

.nav_opcija_1 :visited {
    color: black;
}

.nav_opcija_2 :visited {
    color: black;
}



/********Kraj stilova vezanih za navigacija.php*********/

/********Pocetak stilova vezanih za login/reg*********/
.login_container {
    margin-top: 105px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 64vw;
    height: 90vh;
    /**postavi formu na sredinu ekrana*/
    position: relative;
    left: 17.5vw;

    border-radius: 10px;

    color: white;

    background-color: #f4f4f4;
    border-left: 2px solid black;
    border-right: 2px solid black;

}

.forma_login {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
}

.forma_login h1 {
    color: black;

    text-align: center;
}

.login_unos {
    width: 20vw;
    margin: 5%;
    padding: 5%;
    border-radius: 5px;
    font-size: large;
    text-align: center;
}

.okidac {
    font-size: large;
    border-radius: 4px 6px 3px 4px;
    padding: 2% 3% 2% 3%;
}

/*todo: prebaciti u globalni blok*/


.leva_slika {
    position: absolute;
    left: 0vw;
    top: 15vh;
    width: 17.5vw;
    height: 89vh;

    overflow-y: hidden;

}

.desna_slika {
    position: absolute;
    right: 0vw;
    top: 15vh;
    width: 17.5vw;
    height: 89vh;

    overflow-y: hidden;
}

/********Kraj stilova vezanih za login*********/

/********Pocetak stilova vezanih za Unos Polise*********/
.koren {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    text-align: center;
    width: 64vw;
    position: relative;
    left: 17.5vw;

    background-color: #f4f4f4;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.koren_input {
    text-align: center;
    padding: 3% 2% 3% 2%;
    border-radius: 4px;
}

.koren h3 {
    text-align: center;
}

.datum_putovanja {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact_container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

}

/*******Dodatni osiguranici*****/
.dodatni_osiguranici_container {
    position: fixed !important;
    top: 2vh;
    left: 20vw;

    width: 60vw;
    height: 100vh;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;

    background: #f4f4f4;

    border-radius: 5px;
    border: 2px solid black;

    overflow-y: scroll;
}



.dodatni_osiguranici_container img {
    width: 40px;
    position: absolute;
    top: 0vh;
    right: 0vw;

    cursor: pointer;
}

.input_do {
    text-align: center;
    padding: 1% 1% 1% 1%;
    border-radius: 4px;
    width: 20vw;
}

.ime_dodatnog_osugranika {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}



/*


.dodatni_osiguranici_container input {
    height: 5vh;
}

.rodjendan_do {
    height: 5vh !important;
}

.br_pasosa_do {
    height: 3vh;
}

*/

.dodati_osiguranici {
    width: 60vw;
    border-top: 5px solid black;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    flex-flow: row wrap;
    margin-top: 3%;
    padding-top: 3%;


}

.osiguranik {
    display: flex;
    flex-flow: column nowrap;

    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 5px;
    border: 2px solid black;
    padding: 3%;
    text-align: center;

}

.osiguranik p {
    font-weight: 600;
    text-align: center;
}

/********Kraj stilova vezanih za Unos Polise*********/
/*********Pocetak stilova vezanih za pregled prijava ******/
.pregled_koren {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;

    background-color: #f4f4f4;
}

.list_prijava {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    background-color: #f4f4f4;

}

.polisa {
    font-size: 3vw;
    margin: 1%;

    cursor: pointer;
}

.polisa.selected {
    text-decoration: underline;
}




.prikaz_prijava {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 80vw;
    background-color: #f4f4f4;


}

.prikaz_polje {
    width: 80vw;
    border: 3px solid black;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    height: 10vh;
    font-size: 3vw;
    border-radius: 5px;
    text-align: center;


    background-color: #ffffff;


}

.prikazi_container {
    width: 40vw;
    border: 3px solid black;
    box-sizing: border-box;

    margin-top: 1%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    background-color: #ffffff;
    border-radius: 8px;

    padding: 2%;
}

.dodatni_osiguranici {
    position: fixed;
    height: 70vh;
    width: 60vw;
    left: 20vw;
    top: 15vh;

    background: #f4f4f4;
    border: 2px solid black;
    border-radius: 4px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}

.container_d_osiguranika {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 5    0vw;
}


.do_naslov {
    position: absolute;
    top: 0vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeBtn {
    position: absolute !important;
    top: 0vh;
    right: 1vw;

    width: 30px;
}

.table {
    border-collapse: collapse;
}

/*********Media Upiti********/
@media(max-width:634px) {
    .nav_opcija {
        font-size: 5vw;
    }

    .login_unos {
        width: 60vw;
    }

    .leva_slika,
    .desna_slika {
        display: none;
    }

    .dodati_osiguranici {
        justify-content: center;
    }

    .input_do {
        width: 50vw;
    }

    .ime_dodatnog_osugranika {
        flex-flow: column nowrap;
    }

    .polisa {
        font-size: 6vw;
    }

    .prikazi_container {
        font-size: 6vw;
    }

    .prikaz_polje {
        font-size: 5vw;
        text-align: center;
    }
}