body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/********Pocetak stilova vezanih za navigacija.php*********/
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    position: absolute;
    top: 0vh;
    left: 0vw;
    right: 0vw;

    padding: 1vh;
}

.nav img {
    width: 5vw;
    position: absolute;
    left: 0vw;
    top: 0vh;
    margin: 1%
}

.nav_opcija {
    font-size: 4vw;
    margin: 1%;
    text-decoration: underline;
    cursor: pointer;
}

/********Kraj stilova vezanih za navigacija.php*********/