.login_container {
    margin-top: 20vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 40vw;
    /**postavi formu na sredinu ekrana*/
    position: relative;
    left: 30vw;

    background-color: #b14452;
    border-radius: 10px;

    color: white;
}

/********Pocetak stilova vezanih za navigacija.php*********/
.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    position: absolute;
    top: 0vh;
    left: 0vw;
    right: 0vw;

    padding: 1vh;
    border-style: solid;
    border-color: black;
}

.nav img {
    width: 5vw;
    position: absolute;
    left: 0vw;
    top: 0vh;
    margin: 1%
}

.nav_opcija {
    font-size: 4vw;
    margin: 1%;
    text-decoration: underline;
    cursor: pointer;
}

.nav_opcija :visited {
    color: black;
}

.nav_opcija:visited:after {
    background-color: red;
}

/********Kraj stilova vezanih za navigacija.php*********/

/********Pocetak stilova vezanih za login*********/
.forma_login {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-flow: column nowrap;
}

.login_unos {
    margin: 5%;
    padding: 5%;
    border-radius: 5px;
}

/********Kraj stilova vezanih za login*********/